/* The elements you are editting are called selectors */

body {
    width: 100%;
    /* vh: viewport height;
    it's relative to 1% of the height of the viewport */
    height: 100vh;
    /* Get rid of horizontal scroll-bar */
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}

h1, p {
    margin: 1em auto;
    text-align: center;

}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    /* to centre the submit button */
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    /* To adjust only top and bottom padding, put the value of it first;
    to adjust only the left and right padding, put the value after the first value */
    padding: 2rem 0;
    /* height, line-type, colour */
    border-bottom: 3px solid #3b3b4f;
}

/* This will select the last fieldset element;
last-of-type means last element */
fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    /* The 'rem' unit stands for root 'em',
    and is relative to the font size of the html element */
    margin: 0.5rem 0;
}

input,
textarea,
select {
    /* top, right, bottom, left i think */
    margin: 10px 0 0 0;
    /* To make them take up the full width of their parent elements */
    width: 100%;
    min-height: 2em;
}

input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
}

.inline {
    /* 'unset' removes the ealier rule which sets all the input elements to 'width: 100%' */
    width: unset;
    margin: 0 0.5em 0 0;
    /* Precondition: elems are too high on the line
    Postcondition: elems align with the labels */
    vertical-align: middle;
}

/* This is called an 'attribute selector'.
The below selects input elements with a type (can also use name attribute, not value) attribute value of submit. */
input[type="submit"] {
    display: block;
    width: 60%;
    /* top & bottom, left & right */
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
}

input[type="file"] {
    padding: 1px 2px;
}

a {
    /* change the link text from blue to white */
    color: #dfdfe2;
}
